{% extends 'flatpages/default.html' %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h1>Новости ({{ news|length }})</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью</td>
           </tr>

           {% for new in news %}
           <tr>
               <td align="left"><a href="./{{ new.id }}">{{ new.title }}</a></td>
               <td>{{ new.dateCreation|date:'d M Y' }}</td>
               <td align="justify">{{ new.text|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}