{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% block title %}
Новости
{% endblock title %}

{% block profile %}
    {% include 'profile.html' %}
{% endblock profile %}

{% block content %}
   <h1>Все публикации ({{ all_news }})</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <button onclick="window.location.href = '{% url 'post_search' %}';">Поиск</button>
   <button onclick="window.location.href = '{% url 'news_create' %}';">Добавить новость</button>
   <button onclick="window.location.href = '{% url 'article_create' %}';">Добавить статью</button>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td width="20%">Заголовок</td>
               <td width="10%">Дата публикации</td>
               <td width="50%">Превью</td>
               <td width="10%">Автор</td>
               <td width="10%">Тип публикации</td>
           </tr>

           {% for new in news %}
           <tr>
               <td align="left"><a href="/news/{{ new.id }}">{{ new.title }}</a></td>
               <td>{{ new.dateCreation|date:'d M Y' }}</td>
               <td align="justify">{{ new.text|truncatewords:20 }}</td>
               <td align="center"><font size="4" color="#fa8e47" face="arial">{{ new.author }}</font></td>
               <td align="center"><font size="4" color="#fa8e47" face="arial">{{ new.get_categoryType_display }}</font></td>
               <td><button onclick="window.location.href = '../{% if new.categoryType == 'AR' %}article{% else %}news{% endif %}/{{ new.id }}/edit';">Редактировать</button></td>
               <td><button onclick="window.location.href = '../{% if new.categoryType == 'AR' %}article{% else %}news{% endif %}/{{ new.id }}/delete';">Удалить</button></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}