<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="#">Новостной портал</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
           </div>
                {% if not request.user.username %}
            <button><a href="../accounts/login/">Войти</a></button>

                  {% else %}
            <div><font size="4" color="#fa8e47" face="arial">{{request.user.username}}</font></div>
                <button><a href="../accounts/logout/">Выйти</a></button>
                {% endif %}
        </nav>
        <!-- Page content-->
        <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   {% block content %}
                   {% endblock content %}
               </div>
           </div>
        </div>
    </body>
</html>
